{% extends 'base.html' %}
{% block title %} Nosotros {% endblock%}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 bg-light">
            <h2 class="text-left">Proyecto EATA</h2>
            <h3 class="h5 text-center">Como consecuencia del ciclón Yaku y los desastres producidos en varias regiones de Perú ha inicios del 2023, la oficina de Tecnologías de la Información (OTI) de la UNI puso en marcha el proyecto EATA, busca alertar a los ciudadanos sobre posibles fenómenos meteorológicos en todo el país. Su objetivo principal es desarrollar un modelo de inteligencia artificial que permita prevenir desastres naturales relacionados con eventos climáticos. Esta iniciativa busca utilizar la tecnología para brindar protección y seguridad a la población ante situaciones de emergencia.</h3>
        </div>
    </div>

    <h3 class="mt-5 text-center">Primer Grupo</h3>

    <div class="row">
        <div class="col-md-8 mt-5 bg-light">
            <h2 class="text-center">Cargo 1</h2>
            <h3 class="text-left">Sergio Sosa</h3>
            <h3 class="h5 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, eos eius. Fugit magni maxime blanditiis quam dolorem voluptatibus, mollitia ipsa nisi amet quibusdam veniam similique rerum ad impedit eos, dolores dolor quaerat sequi? Inventore aliquam, laborum tenetur porro rem ipsa natus sed nobis. Quae fugiat totam eum assumenda sit doloremque.</h3>
        </div>
        <div class="col-md-4 mt-5 bg-light">
            <div class="imagen-cargo1">
                <img src="{{ url_for('static', filename='img/sergio.png') }}" style="width: 100%;" alt="cargo1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 bg-light">
            <h2 class="text-center">Cargo 2</h2>
            <h3 class="text-left">Juan Palacios</h3>
            <h3 class="h5 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, eos eius. Fugit magni maxime blanditiis quam dolorem voluptatibus, mollitia ipsa nisi amet quibusdam veniam similique rerum ad impedit eos, dolores dolor quaerat sequi? Inventore aliquam, laborum tenetur porro rem ipsa natus sed nobis. Quae fugiat totam eum assumenda sit doloremque.</h3>
        </div>
        <div class="col-md-4 mt-5 bg-light">
            <div class="imagen-cargo1">
                <img src="{{ url_for('static', filename='img/juan.png') }}" style="width: 100%;" alt="cargo1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 bg-light">
            <h2 class="text-center">Cargo 3</h2>
            <h3 class="text-left">Lucas</h3>
            <h3 class="h5 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, eos eius. Fugit magni maxime blanditiis quam dolorem voluptatibus, mollitia ipsa nisi amet quibusdam veniam similique rerum ad impedit eos, dolores dolor quaerat sequi? Inventore aliquam, laborum tenetur porro rem ipsa natus sed nobis. Quae fugiat totam eum assumenda sit doloremque.</h3>
        </div>
        <div class="col-md-4 mt-5 bg-light">
            <div class="imagen-cargo1">
                <img src="{{ url_for('static', filename='img/lucas.png') }}" style="width: 100%;" alt="cargo1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 bg-light">
            <h2 class="text-center">Cargo 4</h2>
            <h3 class="text-left">Jair</h3>
            <h3 class="h5 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, eos eius. Fugit magni maxime blanditiis quam dolorem voluptatibus, mollitia ipsa nisi amet quibusdam veniam similique rerum ad impedit eos, dolores dolor quaerat sequi? Inventore aliquam, laborum tenetur porro rem ipsa natus sed nobis. Quae fugiat totam eum assumenda sit doloremque.</h3>
        </div>
        <div class="col-md-4 mt-5 bg-light">
            <div class="imagen-cargo1">
                <img src="{{ url_for('static', filename='img/jair.png') }}" style="width: 100%;" alt="cargo1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 bg-light">
            <h2 class="text-center">Cargo 5</h2>
            <h3 class="text-left">Germain</h3>
            <h3 class="h5 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, eos eius. Fugit magni maxime blanditiis quam dolorem voluptatibus, mollitia ipsa nisi amet quibusdam veniam similique rerum ad impedit eos, dolores dolor quaerat sequi? Inventore aliquam, laborum tenetur porro rem ipsa natus sed nobis. Quae fugiat totam eum assumenda sit doloremque.</h3>
        </div>
        <div class="col-md-4 mt-5 bg-light">
            <div class="imagen-cargo1">
                <img src="{{ url_for('static', filename='img/germain.png') }}" style="width: 100%;" alt="cargo1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 bg-light">
            <h2 class="text-center">Cargo 6</h2>
            <h3 class="text-left">Elmer Parado</h3>
            <h3 class="h5 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, eos eius. Fugit magni maxime blanditiis quam dolorem voluptatibus, mollitia ipsa nisi amet quibusdam veniam similique rerum ad impedit eos, dolores dolor quaerat sequi? Inventore aliquam, laborum tenetur porro rem ipsa natus sed nobis. Quae fugiat totam eum assumenda sit doloremque.</h3>
        </div>
        <div class="col-md-4 mt-5 bg-light">
            <div class="imagen-cargo1">
                <img src="{{ url_for('static', filename='img/elmer.png') }}" style="width: 100%;" alt="cargo1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 bg-light">
            <h2 class="text-center">Cargo 7</h2>
            <h3 class="text-left">Alejandro Chanquetti</h3>
            <h3 class="h5 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, eos eius. Fugit magni maxime blanditiis quam dolorem voluptatibus, mollitia ipsa nisi amet quibusdam veniam similique rerum ad impedit eos, dolores dolor quaerat sequi? Inventore aliquam, laborum tenetur porro rem ipsa natus sed nobis. Quae fugiat totam eum assumenda sit doloremque.</h3>
        </div>
        <div class="col-md-4 mt-5 bg-light">
            <div class="imagen-cargo1">
                <img src="{{ url_for('static', filename='img/alejandro.png') }}" style="width: 100%;" alt="cargo1">
            </div>
        </div>
    </div>
</div>
{% endblock %}